body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #9b3725;
}

#title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.15em;
    color: rgb(223, 221, 221);
    text-shadow: 5px 5px 5px black;
}

#instructions {
    text-align: center;
    font-size: 1.5em;
    color: rgb(223, 211, 211);
    text-shadow: 1.5px 1.5px 1.5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#drum-machine {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    margin-top: 5%;
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 2em;
    grid-column-gap: 1em;
    grid-row-gap: 1.5em;
    padding: 1.5em;
    background-color: black;
    border: 2px solid rgba(27, 27, 27, 0.548);
    border-radius: 5%;
    background-image: linear-gradient(to top right, rgb(22, 21, 21), rgb(65, 65, 65));
}

#sound-descriptor {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 5%;
    background-color: white;
    color: black;
    height: 5em;
    text-align: center;
    font-size: 1em;
    border-radius: 5%;
    font-family: impact, arial, monospace;
    border: .05em solid rgba(27, 27, 27, 0.808);
}

button {
    color: black;
    width: 1.5em;
    height: 1.5em;
    border-radius: 15%;
    border: .05em solid rgba(27, 27, 27, 0.808);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: verdana, georgia, monospace;
    outline: none;
}

button:hover {
    border-color: black;
    border-width: .10em;
}

button:active {
    border-color: black;
    border-width: .10em;
    transform: translateY(4px);
}

.drum-pad {
    background-color: rgba(166, 191, 230, 0.993);
}

@media only screen and (max-width: 500px) {
    #drum-machine {
        margin-left: 5%;
        margin-right: 5%;
    }
}